@import 'base';

#HiveExtension_Twitter_ProfileNav {
    display: table;
    border: 1px solid $purple_one;
    color: $purple_one;
    text-align: center;
    font-family: $twitter_font-family;
    font-weight: 300;
    font-size: 11px;

    &:hover {
        background-color: #564dff2d;
        transition-duration: 0.2s;
    }
}

.HiveExtension_Twitter_ProfileNav-container {
    display: table;
    height: 100%;
    width: 100%;
}

.HiveExtension_Twitter_ProfileNav-display {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
}

.HiveExtension_Twitter_ProfileNav-icon {
    height: 22px;
    fill: $purple_one;
    margin-bottom: -1px;
}

.HiveExtension_Twitter_Popup {
    position: absolute;
    background: #fafbfd;
    padding: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    width: 300px;
    font-size: 14px;
    line-height: 19.25px;
    user-select: none;
    color: #14171a;
    text-align: left;
    cursor: initial;
}

.HiveExtension_Twitter_TweetAuthor-container {
    padding: 12px;
}
.HiveExtension_Twitter_TweetAuthor-text, .HiveExtension_Twitter_ProfilePreview-text {
    color: $twitter_grey;
    font-family: $twitter_font-family;
    font-size: 12px;
    font-weight: 300;

    &:hover {
        color: $purple_one;
        transition-duration: 0.2s;
    }
}

.HiveExtension_Twitter_TweetAuthor-icon, .HiveExtension_Twitter_ProfilePreview-icon {
    height: 18px;
    fill: $twitter_grey;
    margin-bottom: -1px;

    &:hover {
        cursor: pointer;
        fill: $purple_one;
        transition-duration: 0.2s;
    }
}

.HiveExtension_Twitter_ProfilePreview-container {
    text-align: center;
    padding-top: 12px;
}

.HiveExtension_Tooltip {
    position: relative;
}

.HiveExtension_Tooltip .HiveExtension_Tooltip-text {
    visibility: hidden;
    width: 80px;
    margin-left: -40px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 4px;
    padding: 8px 0;
    position: absolute;
    bottom: 125%;
    left: 50%;
    opacity: 0;
    transition: opacity 0.2s;
    font-size: 12px;
    line-height: 16px;
    font-family: $twitter_font-family;

    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }
}

.HiveExtension_Tooltip:hover .HiveExtension_Tooltip-text {
    visibility: visible;
    opacity: 1;
}

.HiveExtension-Twitter {
    font-family: $twitter_font-family;
    &_profile-score {
        cursor: pointer;
    }

    &_profile-hover-popup {
        cursor: pointer;
    }

    &_tweet-author-score {
        $root: &;

        text-align: center;
        display: block;
        float: left;
        margin-top: 55px;
        margin-left: -58px;
        position: absolute;
        width: 48px;

        &_container {
            padding: 12px;
        }

        &_icon {
            fill: $purple_two;
            width: 14px;
        }

        .GalleryTweet & {
            display: none;
        }

        &-icons {
            #{$root}_display {
                background: $twitter_blue !important;
                border-radius: 4px;
                height: 16px;

                #{$root}_text {
                    background: white;
                    color: $twitter_blue;
                    display: block;
                    min-width: 26px;
                    line-height: 1;
                    padding: 1px;
                    border-radius: 2px;
                    font-weight: bold;
                    font-size: 9px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 2px;
                    height: 10px;
                    line-height: 10px;
                }

                #{$root}_icon {
                    width: 10px;
                    left: 6px;
                    position: absolute;
                    top: 4px;
                    display: block;
                }

                &:hover {
                    color: $twitter_blue;
                }
            }
        }

        &_display {
            z-index: 3;
            display: block;
            position: relative;
            user-select: none;
            color: #657786;

            &:hover {
                color: $twitter_blue;
            }

            &-in-thread {
                background: white;

                .js-navigation-active.stream-item &,
                .tweet:hover & {
                    background: #f5f8fa;
                }

                &-dark {
                    background: #15202b;

                    .js-navigation-active.stream-item &,
                    .tweet:hover & {
                        background: #101922;
                    }
                }
            }
        }
    }

    &_tweet-individual-score {
        position: relative;

        &_display {
            $root: &;

            color: #657786;

            &_score {
                display: inline-block;
                font-size: 12px;
                font-weight: bold;
                line-height: 1;
                margin-left: 6px;
                position: relative;
                vertical-align: text-bottom;
            }

            &_icon {
                fill: #657786;
                overflow: visible;
                width: 18px;
                height: 18px;
                margin-top: 2px;
            }

            &:hover {
                #{$root}_score {
                    color: $twitter_blue;
                }

                #{$root}_icon {
                    fill: $twitter_blue;
                }
            }
        }
    }

    &_popup {
        &-profile {
            $root: &;

            position: absolute;
            background-color: rgba(255,255,255,1.00);
            padding: 15px;
            box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
            border-radius: 14px;
            width: 300px;
            // z-index: 1000;
            font-size: 14px;
            line-height: 19.25px;
            user-select: none;
            color: #14171a;
            text-align: left;
            cursor: initial;
            top: 254px;
            right: 0;

            &-dark {
                color: #ffffff;
                background: #10171e;

                #{$root}_title {
                    color: white;
                }

                #{$root}_content {
                    background-color: #15202b;
                    border-color: #38444d;
                }
                #{$root}_followers_follower {
                    background-color: #15202b;
                    border-color: #38444d;
                }

                #{$root}_podcasts_podcast {
                    background-color: #15202b;
                    border-color: #38444d;

                    &_meta {
                        color: white;
                    }
                }

                #{$root}_cluster-score_progress-bar {
                    &_bg {
                        background: black;
                    }

                    &_progress {
                        border-color: black;
                    }
                }
            }

            &_user_info {
                display: flex;
                flex-direction: column;
                text-decoration: none;
                outline-style: none;
                cursor: pointer;


                &_screen-name {
                    font-family: $twitter_font-family;
                    overflow-wrap: break-word;
                    font-size: 15px;
                    font-weight: 400;
                    color: rgb(101, 119, 134);
                    white-space: nowrap;
                }

                &_name {
                    font-family: $twitter_font-family;
                    overflow-wrap: break-word;
                    font-size: 15px;
                    font-weight: bold;
                    color: rgb(20, 23, 26);
                    white-space: nowrap;
                }

                &_avatar {

                    img {
                        border-radius: 50%;
                        width: 59px;
                        height: 59px;
                    }

                }
            }

            &_tabs {
                display: flex;
            }

            &_tab {
                width: 50%;
                height: 30px;
                background: #FFFFFF;
                border: 1px solid #EEEDFF;
                box-sizing: border-box;
                border-radius: 4px 0px 0px 4px;
                cursor: pointer;

                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                font-family: $twitter_font-family;
                font-weight: 500;
                font-size: 12px;
                
                &_active {
                    background:#F5F7FA;
                }
            }

            &_title {
                color: #545454;
                margin: 0;
                display: block;
                font-size: 1.17em;
                font-weight: bold;
                font-family: $twitter_font-family;
            }

            &_content {
                // border: 1px solid #eeedff;
                // padding: 1rem;
                // background-color: white;
                // border-radius: 6px;
            }

            &_credit { 
                font-family: $twitter_font-family;
                background: #F5F7FA;
                border-radius: 5px;
                height: 63px;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                a {
                    color: #817AFF;
                    text-decoration: none;
                }

                &_icon {
                    width: 16px;
                    fill: #817AFF;
                }

                &:hover {
                    color: $twitter_blue;
                }
            }

            &_followers {
                display: flex;
                flex-direction: column;
                margin-top: 24px;
                text-align: center;
                margin-top: 10px;

                &_title {
                    font-family: $twitter_font-family;
                    display: grid;
                    grid-template-columns: 10% 80% 10%;
                    justify-items: center;
                    font-size: 12px;
                    line-height: 13px;
                    text-transform: uppercase;

                    color: #8D8D8D;
                }

                &_follower {
                    height: 60px;
                    display: grid;
                    grid-template-columns: 10% 80% 10%;
                    background-color: white;
                    font-family: $twitter_font-family;

                    &_user {
                        display: grid;
                        grid-template-columns: 30% 70%;
                        &_avatar {
                            width: 32px;
                            height: 32px;
                            border: 2px solid #F5F7FA;
                            border-radius: 25px;
                            justify-self: flex-end;
                        }
                        
    
                        &_info {
                            display: flex;
                            flex-direction: column;
                            justify-self: flex-start;
                            text-align: left;
                            &_screen-name {
                                font-family: $twitter_font-family;
                                overflow-wrap: break-word;
                                font-size: 15px;
                                font-weight: 400;
                                color: #6C6C6C;
                                white-space: nowrap;
                            }
            
                            &_name {
                                font-family: $twitter_font-family;
                                overflow-wrap: break-word;
                                font-size: 15px;
                                font-weight: bold;
                                color: rgb(20, 23, 26);
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }

            &_podcasts {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                text-align: center;
                overflow: scroll;
                margin-top: 10px;
                font-family: $twitter_font-family;

                &_title {
                    font-family: $twitter_font-family;
                    display: grid;
                    grid-template-columns: 20% 60% 20%;
                    justify-items: center;
                    font-size: 12px;
                    line-height: 13px;
                    text-transform: uppercase;

                    color: #8D8D8D;
                }

                &_podcast {
                    margin-bottom: 15px;
                    padding: 5px;
                    display: grid;
                    grid-template-columns: 20% 60% 20%;
                    justify-items: center;
                    font-weight: 600;
                    background-color: white;
                    color: $twitter_blue;
                    font-size: 10px;
                    transition: all .33s ease;

                    &_meta {
                        color: black;
                    }

                    &_episode_name {
                        max-width: 90%;
                    }

                    &:hover {
                        background: #F5F7FA;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            &-hidden {
                visibility: hidden;
            }

            &_cluster-score {
                position: relative;
                font-family: $twitter_font-family;

                &:nth-of-type(n + 2) {
                    margin-top: 10px;
                }

                &_image {
                    width: 20px;
                    height: 20px;
                }

                &_right {
                    position: absolute;
                    right: 0;
                    top: 0;

                    &_bold {
                        font-weight: 500;
                        font-size: 14px;
                    }

                    &_small {
                        color: #B3B3B3;
                        font-size: 10px;
                    }
                }

                &_progress-bar {
                    width: 100%;
                    position: relative;
                    margin-top: 8px;

                    &_bg {
                        height: 4px;
                        border-radius: 2px;
                        background-color: #eeedff;
                    }

                    &_progress {
                        background-color: $twitter_blue;
                        position: absolute;
                        height: 6px;
                        border-radius: 4px;
                        top: -1px;
                        left: -1px;
                        right: 0;
                        border: 1px solid white;
                    }
                }
            }
        }
    }
}

#popup_scores, #popup_followers, #popup_podcasts {
    display: none;
}

.ProfileTweet-action--dm {
    min-width: 60px;
}

.ProfileCardStats {
    position: relative;
}
